.animate {
  display: block;
  &.slideInRight {
    transform: translateX(105%);
    animation: slideInRight 1.5s ease forwards;
  }
  &.slideInLeft {
    transform: translateX(-105%);
    animation: slideInLeft 1.5s ease forwards;
  }
  &.slideInTop {
    transform: translateY(150%);
    animation: slideInTop 1.5s ease-out forwards;
  }
  &.slideInBottom {
    transform: translateY(-200%);
    animation: slideInBottom 1.5s ease forwards;
  }
}
@keyframes slideInLeft {
  to {
    transform: translate(0);
  }
}
@keyframes slideInRight {
  to {
    transform: translate(0);
  }
}
@keyframes slideInTop {
  to {
    transform: translateY(0%);
  }
}
@keyframes slideInBottom {
  to {
    transform: translate(0);
  }
}
