@use "../style/index.scss" as *;

.view {
  height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.view__con {
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  @include maxQ(992px) {
    width: 100%;
    overflow-x: hidden;
  }
}
