@use "./mixins" as *;
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font-family: 'Inconsolata', monospace;

html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;

  @include maxQ(1400px) {
    font-size: 15px;
  }

  @include maxQ(992px) {
    font-size: 15px;
  }
}

.red {
  color: $base;
  font-weight: 900;
}
a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
